{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<head>
    <style>  
    h2 {text-align: center;} 
    </style>
</head>
<div style = 'text-align: left; padding-left: 10px; padding: 50px 0; padding-bottom: 250px;'>
    <h2>About</h2>
    <br>
    <div style = 'text-align: left; padding-left: 6px'>
        <p>Tablify was made out of necessity (and laziness) due to the fact that I cannot decide what songs to learn on guitar.</p>
        <p>I thought that displaying the guitar tab links from my own playists and from my top songs would help me decide a little bit better. Now I have too many choices!</p>
        <p>If you would like to see more of my projects, then please visit my Github: <a href='https://github.com/duncanhmurray9'> github.com/duncanhmurray9 </a></p>
        <p>Background photo on login page by Oleg Ivanov on Unsplash.</p>
        <br>
        <br>
        <h2>Privacy</h2>
        <br>
        <p>Tablify does not store any user data, Spotify account logging-in is facilitated by Spotify itself and so no user information is stored by Tablify.</p>
        <p>Data provided by <a href="https://developer.spotify.com/">Spotify</a>. View <a href="https://developer.spotify.com/terms/">Spotify’s Terms of Use</a>.</p>
    </div>
</div>
{% endblock %}