{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<p>Tablify was made out of necessity (and laziness) due to the fact that I cannot decide what songs to learn on guitar. I thought that displaying the guitar tab links from my own playists and from my top songs would help me decide a little bit better. Now I have too many choices!
</p>
<br>
<p>Tablify does not store any user data, Spotify account logging in is facilitated by the Spotify itself and so no user information is stored by Tablify.</p>
<br>
<p>Background photo on login page by Oleg Ivanov on Unsplash.</p>
<br>
<p>Data provided by <a href="https://developer.spotify.com/">Spotify</a>. View <a href="https://developer.spotify.com/terms/">Spotify’s Terms of Use</a>.</p>
{% endblock %}