{% extends "layout.html" %}

{% block title %}
    Get Your Playlists
{% endblock %}

{% block main %}
    <div class="center-index">
        <center>
            <form action="/playlists" method="post">
                <button type="submit" class="btn button" id="" style=""><h4><i class="fab fa-spotify"></i>Get Your Spotify Playlists</h4></button>
            </form>
            <br>
            <br>
            <form action="/song_results" method="get">
                <button type="submit" class="btn button" id="" style=""><h4><i class="fab fa-spotify"></i>Get Your Top Songs</h4></button>
            </form>     
        </center>
        <br>
        <br>
        <p> NOTE: Loading the tab links will take ~30 seconds as Google does not like repeated searches in a short time span, so please be patient.
    </div>
{% endblock %}