{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div style="background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(static/images/background.jpg); background-size: cover; min-height: 850px; background-position-y: center; background-repeat: no-repeat;">
    <div class = 'center'>
        <h1 class = title>Tablify</h1>
        <p class = fronttext><span class="align-middle">Can't decide what song to learn?</span></p>
        <p class = fronttext>Let Tablify show you the available guitar tabs for your top played songs or playlists.</p>
        <form action="/" method="post">
            <button class="btn button" type="submit">Log in with Spotify</button>
        </form>
    </div>
</div>
{% endblock %}